---
- name: Create A record for mail server
  community.general.cloudflare_dns:
    api_token: "{{ cloudflare_api_token }}"
    zone: "{{ cloudflare_zone }}"
    name: "mail"
    type: "A"
    value: "{{ ansible_host }}"
    state: present
    ttl: 300

- name: Ensure SPF record exists
  community.general.cloudflare_dns:
    api_token: "{{ cloudflare_api_token }}"
    zone: "{{ cloudflare_zone }}"
    name: "@"
    type: "TXT"
    value: "{{ spf_value | quote }}"
    state: present
    ttl: 300

- name: Ensure DMARC record exists
  community.general.cloudflare_dns:
    api_token: "{{ cloudflare_api_token }}"
    zone: "{{ cloudflare_zone }}"
    name: "_dmarc"
    type: "TXT"
    value: "{{ dmarc_value | quote }}"
    state: present
    ttl: 300
