---
- name: Create docker network
  community.docker.docker_network:
    name: "{{ docker_network_name }}"
    driver: bridge
    state: present

- name: Create folder to store data
  ansible.builtin.file:
    path: "{{ ansible_env['HOME'] }}/docker/fizzy/{{ item }}"
    state: directory
  loop:
    - data

- name: Run the Fizzy docker container
  community.docker.docker_container:
    name: fizzy
    image: "ghcr.io/basecamp/fizzy:{{ fizzy_version }}"
    state: started
    restart_policy: always
    command: ["./bin/thrust", "./bin/rails", "server", "-b", "0.0.0.0"]
    volumes:
      - "{{ ansible_env['HOME'] }}/docker/fizzy/data:/rails/storage"
    env:
      SECRET_KEY_BASE: "{{ fizzy_secret_base_key }}"
      BASE_URL: fizzy.poppylabs.dev
      MAILER_FROM_ADDRESS: "{{ fizzy_mailer_from_address }}"
      SMTP_ADDRESS: "{{ fizzy_smtp_address }}"
      SMTP_PORT: "{{ fizzy_smtp_port }}"
      SMTP_USERNAME: "{{ fizzy_smtp_username }}"
      SMTP_PASSWORD: "{{ fizzy_smtp_password }}"
      WEB_CONCURRENCY: "2"
      JOB_CONCURRENCY: "1"

    networks:
      - name: "{{ docker_network_name }}"
      - name: caddy
    labels:
      caddy: fizzy.poppylabs.dev
      caddy.reverse_proxy: fizzy:80
      caddy.tls.dns: "cloudflare {{ cloudflare_api_token }}"
      caddy.tls.resolvers: 1.1.1.1
