---
- name: Create docker network
  community.docker.docker_network:
    name: "{{ docker_network_name }}"
    driver: bridge
    state: present

- name: Install and Configure fizzy
  include_tasks: "fizzy.yml"

- name: Install and Configure campfire
  include_tasks: "campfire.yml"
