version: 1.3.3
cache: true
mcpServers:
  fizzy:
    type: streamable-http
    url: https://fizzy-mcp:8000/mcp
    timeout: 30000
endpoints:
  custom:
    - name: Ollama
      apiKey: ollama
      baseURL: http://ollama:11434/v1/
      models:
        default:
          - gemma3:4b
        fetch: true
      titleConvo: true
      titleModel: current_model
