---
- name: Create folder to store data
  ansible.builtin.file:
    path: "{{ ansible_env['HOME'] }}/docker/comfyui"
    state: directory

- name: Create folders for Docker volume mounts
  ansible.builtin.file:
    path: "{{ ansible_env['HOME'] }}/docker/comfyui/models"
    state: directory

- name: Copy the Dockerfile over
  ansible.builtin.template:
    src: ComfyUI.Dockerfile.j2
    dest: "{{ ansible_env['HOME'] }}/docker/comfyui/Dockerfile"

- name: Build the docker image
  community.docker.docker_image:
    name: comfyui
    build:
      path: "{{ ansible_env['HOME'] }}/docker/comfyui"
    tag: main
    source: build

- name: Run the docker image
  community.docker.docker_container:
    name: comfyui
    image: comfyui:main
    state: started
    restart_policy: always
    env:
      NVIDIA_VISIBLE_DEVICES: all
      NVIDIA_DRIVER_CAPABILITIES: compute,utility
    networks:
      - name: "{{ docker_network_name }}"
      - name: caddy
    volumes:
      - "{{ ansible_env['HOME'] }}/docker/comfyui/models:/app/ComfyUI/models"
    labels:
      caddy: comfyui.poppylabs.dev
      caddy.reverse_proxy: comfyui:8188
      caddy.tls.dns: "cloudflare {{ cloudflare_api_token }}"
      caddy.tls.resolvers: 1.1.1.1
