---
- name: Create docker network
  community.docker.docker_network:
    name: "{{ docker_network_name }}"
    driver: bridge
    state: present

- name: Include Ollama Tasks
  include_tasks: ollama.yml

- name: Include OpenWebUI Tasks
  include_tasks: openwebui.yml

- name: Include ComfyUI Tasks
  include_tasks: comfyui.yml

- name: Include LibreChat Tasks
  include_tasks: librechat.yml
