---
- name: Create docker network
  community.docker.docker_network:
    name: "{{ docker_network_name }}"
    driver: bridge
    state: present

- name: Include Readeck Tasks
  include_tasks: readeck.yml
